@import url(global.css);

#auth-screen {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#auth-screen form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


#auth-screen form input {
    padding: 8px 12px;
    border: 1px solid #ccc;
}

#auth-screen-header {
    text-align: center;
}

#auth-screen-header img {
    width: 40%;
    height: auto;
    margin-bottom: 5%;
}

#user-inpt,
#pass-inpt {
    border-radius: 10px;
    width: 15rem;
    height: 1.5rem;
}

#send-button {
    width: 16.5rem;
    height: 3rem;
    background-color: var(--st-button);
    border-radius: 30px;
    border: none !important;
}

#send-button:hover{
    background-color: var(--low-button);
    transition: var(--transition-time);
}

#auth-screen-footer p, a {
    color: #ccc;
    font-size: xx-small;
    text-align: center;
    max-width: 15rem;
    margin-top: 1rem;
    
}
